@inject StorageService storageService

<button @onclick="async() => await StartAnalyzeMicrophoneAsync()">Analyze Microphone</button>

<button id="btn-stop">End Analyzing Microphone</button>

@code{
    public string result = string.Empty;

    public async Task StartAnalyzeMicrophoneAsync()
    {
        TokenDTO token = await HttpClient.GetFromJsonAsync<TokenDTO>("api/AzureSpeechAnalysis");
        await JSRuntime.InvokeVoidAsync("analyzeMicrophone", DotNetObjectReference.Create(this), "de-CH", token.APIKey);
    }

    [JSInvokable]
    public void MicrophoneAnalyzedCallback(string s, string li)
    {
        storageService.ChangeMessage(s.Substring("[object Object]".Count()), li);
        StateHasChanged();
    }
}