
<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <button @onclick="() => NavigationManager.NavigateTo(EndpointConstants.LoginPath, true)">Log in</button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        NavigationManager.NavigateTo(EndpointConstants.LogoutPath, true);
    }
}
