@inherits LayoutComponentBase

<div class="page">
    <nav>
        <div class="LogoSection">
            <h1>StartHackMicrosoft</h1>
        </div>
        <div class="LoginDisplayContainer">
            <LoginDisplay/>
        </div>
    </nav>
    <div class="body">
        @Body
    </div>
</div>
