nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 15px;
}
.LogoSection{
    padding-left: 15px;
}
.body{
    padding: 15px 15px 25px 15px;
    height: calc(100% - 50px);
}