@using System.Text.Json
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<div style="height: 250px; text-align: center; width: 370px; display: grid; place-content: center; background-color: rgba(255, 255, 255, 0.3);">
    <h3 style="margin: 10px 0; text-align: center; font-weight: 700;">Rate your conversation</h3>
    <div class="CurrentScenarioSection">
        @foreach(var step in steps)
        {
            <div class="StepContainer">
                @if(step.ScenarioRoleType == ScenarioRoleDTO.Victim)
                {
                    <span style="font-weight: 700;">YourSelf: </span>
                }
                else
                {
                    <span style="font-weight: 700;">@step.ScenarioRoleType: </span>
                }
                @step.EnglishMessage
            </div>
        }
    </div>
    <div class="sliderSection">
        <input type="range" style="outline: none;" min="0" max="100" @bind="max"/>
        <div style="display: flex; margin-top: 10px; flex-direction: row; justify-content: space-between;">
            <label>Too Passive</label>
            <label>Too aggressive</label>
        </div>
        <div style="margin-top: 20px; display: flex; justify-content: space-between;">
            <button>Save Privatly</button>
            <button>Share with the community</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<ScenarioStepDTO> steps { get; set; }
    int max;
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    public async Task SaveLocally()
    {
        LearningDTO learningDTO = new LearningDTO
        {
            PassiveAggressiveRating = max,
            ScenarioSteps = steps
        };
        localStorage.SetItem("sets", JsonSerializer.Serialize(steps));
        await ModalInstance.CloseAsync();
    }
}
