<div class="SelectScenarioModal" style="margin-top: 10px;">
    <h3>In which language do you want to simulate the @Scenario.Name scenario?</h3>
    <div style="height: 90px; width: 100%; display: grid; place-content: center;">
        <select style="margin: 15px 0;" @bind="Scenario.Language" @bind:event="oninput">
            <option>English</option>
            <option>German</option>
            <option>Swiss German</option>
            <option>Finish</option>
        </select>
        <div style="width: 150px; display: flex; justify-content: space-between;">
            <button @onclick="async() => await ModalInstance.CloseAsync()">
                Cancel
            </button>
            <button @onclick="async () => await ScenarioSelected()">
                Simulate
            </button>
        </div> 
    </div>
</div>

@code {
    [Parameter] public ScenarioDTO Scenario { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public Func<ScenarioDTO, Task> ScenarioSelectedCallback { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }

    public async Task ScenarioSelected()
    {
        ScenarioSelectedCallback(Scenario);
        await ModalInstance.CloseAsync();
    }
}
