<div class="card">
    <h3>@Node.Role</h3>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code {
    [Parameter]
    public ScenarioMemberNode Node { get; set; }
}
