<div class="card">
    <h3>ScenarioMemberComponent</h3>

    <AnalyzeMicrophoneComponent/>

    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code {
    [Parameter]
    public UserNode Node { get; set; }
}
